@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-xs: 25rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-roboto-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: 204 70% 98%;
  --foreground: 204 50% 0%;
  --muted: 204 29% 88%;
  --muted-foreground: 204 4% 33%;
  --popover: 204 70% 98%;
  --popover-foreground: 204 50% 0%;
  --card: 204 70% 97%;
  --card-foreground: 0 0% 0%;
  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --primary: 204 77% 47%;
  --primary-foreground: 0 0% 100%;
  --secondary: 204 9% 91%;
  --secondary-foreground: 204 9% 31%;
  --accent: 204 15% 85%;
  --accent-foreground: 204 15% 25%;
  --destructive: 15 94% 38%;
  --destructive-foreground: 0 0% 100%;
  --ring: 204 77% 47%;
  --chart-1: 204 77% 47%;
  --chart-2: 204 9% 91%;
  --chart-3: 204 15% 85%;
  --chart-4: 204 9% 94%;
  --chart-5: 204 80% 47%;
  --radius: 0.5rem;
  --sidebar: 0 0% 100%;
  --sidebar-foreground: 204 50% 0%;
  --sidebar-primary: 204 77% 47%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 204 15% 85%;
  --sidebar-accent-foreground: 204 77% 47%;
  --sidebar-border: 220 13% 91%;
  --sidebar-ring: 204 77% 47%;
}

.dark {
  --background: 204 50% 0%;
  --foreground: 204 25% 97%;
  --muted: 204 29% 12%;
  --muted-foreground: 204 4% 67%;
  --popover: 204 50% 0%;
  --popover-foreground: 204 25% 97%;
  --card: 0 0% 1%;
  --card-foreground: 204 25% 98%;
  --border: 215 27.9% 16.9%;
  --input: 215 27.9% 16.9%;
  --primary: 204 77% 47%;
  --primary-foreground: 0 0% 100%;
  --secondary: 204 18% 14%;
  --secondary-foreground: 204 18% 74%;
  --accent: 204 25% 19%;
  --accent-foreground: 204 25% 79%;
  --destructive: 15 94% 58%;
  --destructive-foreground: 0 0% 0%;
  --ring: 204 77% 47%;
  --chart-1: 204 77% 47%;
  --chart-2: 204 18% 14%;
  --chart-3: 204 25% 19%;
  --chart-4: 204 18% 17%;
  --chart-5: 204 80% 47%;
  --sidebar: 0 0% 100%;
  --sidebar-foreground: 204 25% 97%;
  --sidebar-primary: 204 77% 47%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 204 25% 19%;
  --sidebar-accent-foreground: 204 77% 47%;
  --sidebar-border: 215 27.9% 16.9%;
  --sidebar-ring: 204 77% 47%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: var(--background);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--primary);
    -webkit-border-radius: 1ex;
  }

  ::-webkit-scrollbar-corner {
    background: var(--primary);
  }
}
